body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  color: white;
}
header {
  background-color: #333;
  color: #fff;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
  margin-left: 10px;
}
nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
form {
  background-color: transparent;
  border-radius: 5px;
  padding: 12px 20px;
  box-shadow: 0px 0px 10px #888888;
  width: 400px;
  margin: 80px auto 0 auto; /* adjust margin to move the form down from the header*/
  box-shadow: 7px 7px 21px gray, -7px -7px 21px gray;
  transition-property: box-shadow;
  transition-duration: 0.4s;
}

form:hover {
  box-shadow: 7px 7px 21px rgb(129, 131, 129), -7px -7px 21px rgb(28, 192, 167);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #45a049;
}
.container {
  padding: 16px;
}
h1 {
  text-align: center;
  color: #4caf50;
}
h2 {
  text-align: center;
  font-size: bold;
}
.incont {
  display: flex;
}

.incont p {
  margin-top: 2px;
  margin-left: 2px;
}
.incont p a {
  margin-top: 2px;
  margin-left: 4px;
  text-decoration: none;
}
